@import './mixins';

.c-button {
	@include sButton;

	border-radius: 4px;
	min-width: 60px;

	.c-button__content {
		@include sButtonContent;
		padding: 0 8px;
	}

	.c-button__text {
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
